// This thing has been pissing me the hell off. "Can't find the file". Bitch, how tf do you make localhost:3000 access this shit?? There is 0 documentation online

// Goddamn it I have to put it in the fucking "public" directory. Of course

// Fuck this, two hours down the drain. I'm not dealing with this bullshit anymore.

// @font-face { font-family: "NewRodinPro-L"; src: url("/fonts/new_rodin.otf"); } 
// @font-face { font-family: 'EarwigFactory-Regular'; src: url('/fonts/EarwigFactory-Regular.eot'); /* IE9 Compat Modes */
//       font-weight: 400;
//       font-style: normal;
//   }

// p, h2, h3 {
//     font-family: 'NewRodinPro-L', sans-serif;
// }

// h1 {
//     font-family: 'EarwigFactory-Regular', sans-serif;
// }

p, h2, h3 {
    font-family: 'Arsenal', sans-serif;
}

h1 {
    font-family: 'Noto Serif', serif;
}